*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variable der gøre kodening af burgermenuen bliver mere responsive */
:root {
  --light-grey: #82808f;    /* farve defineres i varible for at gøre det nemmere at target */
  --dark-grey: #222222;
  --white: #fff;
  --yellow: #fcd04e;
  --bar-width: 60px;            /* Definere breden af burgermenuen*/
  --bar-height: 8px;            /* Definere højden af burgermenuen*/
  --hamburger-gap: 6px;         /* Ved at definere margin ville den skubbe andre variables under*/
  --foreground: var(--yellow);
  --background: var(--dark-grey);
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;

    /* højde er lige med 3x bar height og 2x vores gap.*/
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {   /* Danner de 2 streger ovenpå og under check boksen */
  --x-width: calc(var(--hamburger-height) * 1.41421356237);     /* udregning af "stregerne" længde efter de er checked ved brug af trekantberegning. Tallet det er ganget med er bare √2*/
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;       /* Sørger for at burgermenuen er på toppen af sidebar */
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {    /* Ændring af farve på burgermenu når den er checked */
  --foreground: var(--dark-grey);
  --background: var(--yellow);
}

.hamburger-menu:has(input:focus-visible)::before,   /* Target de 3 linjer som burgermenuen har før*/
.hamburger-menu:has(input:focus-visible)::after,    /* Target de 3 linjer som burgermenuen har efter*/
.hamburger-menu input:focus-visible {               /* Target checkboxen */
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {     /* Fjerner default checkbox */
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;     /* Gøre sådan at man ikke kan klicke på checkboxen. Dette er gjort pga. alt interation med checkbox skal ske i gennem label. Koden har gøre at man nu kan tryk hvor som helst på .burger-menu ville man check og uncheck ens checkbox*/
}

.hamburger-menu:has(input:checked)::before {
  transform: rotate(25deg) translate(0, calc(var(--bar-height) / -2));
}

.hamburger-menu:has(input:checked)::after {
  transform: rotate(-25deg) translate(0, calc(var(--bar-height) / -2));

}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.nav-bar {
  position: fixed;  /*Sørge for at navbar er konstant*/
  top: 0;
  left: 0;
  z-index: 10;
}


.sidebar {
  transition: transform var(--animation-timing); /* Animere transform property */
  transform: translateX(-100%); /*fjerner sidebar off screen under no-check */
  padding: 0.5rem 0;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--yellow);
  color: var(--white);
  min-height: 100vh;
  margin-right: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
}

/* Når sidebar er checked */
.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0); /* Slider sidebar til synlighed */
}

/*Styling af navigationsbar*/
nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

nav ul li {     /*Definere position af navigationsbar listitem*/
  position: relative;
  padding: 0.2rem 1.5rem;
}

nav ul li a {    /*Styling af links i navigationsbar*/
  text-decoration: none;
  font-size: 1.55rem;
  padding: 1.5rem;
  color: var(--dark-grey);
  display: block;
  background: var(--yellow);
}

nav ul li a:hover {     /*Styling af navigationsbar under hover tilstand*/
  background: var(--dark-grey);
  color: var(--yellow);
}

nav ul li ul {          /*Styling af dropdown menu i navbar*/
  position: static;     /*Sørg for at dropdown menu ikke overlapper eksisterende links*/
  display: none;        /*gør dropdown menu usynlig*/
  z-index: 10;          /*Styrer stablingrækkefølge højere værdi ligger øverst, i denne tilfælde ligger alt under ul øverst for alle andre elementer*/
}

nav ul li ul li {       /*Styling af list item i dropdown menu*/
  width: 100%;
  border-top: 0.5px solid var(--dark-grey);
}

nav ul li:focus-within > ul,
nav ul li:hover > ul {  /*Definere display af dropdown menu på hover eller fokus*/
  display: block;
  z-index: 10;
}

header {
  background-image: url(../img/header-bg.webp);
  background-size: cover;
  height: 15.625rem;
}

header img {
  width: 25rem;
  padding-top: 3rem;
}

h2,
h3,
p,
h4 {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--dark-grey);
}

h2 {
  width: fit-content;
  box-shadow: 20px 20px rgb(31, 31, 31);
  background-color: var(--yellow);
  padding: 30px;
  font-size: 3rem;
  margin-left: 3rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

#om-os {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-image: url(../img/radar-bg.webp);
  height: 20rem;
}

#om-os img {
  height: 20rem;
}

main {
  min-height: 100vh;
}

#om-os p {
  color: var(--white);
  padding: 5px;
  margin-left: 90px;
}

#om-os span {
  display: block;
  padding-top: 20px;
}

#billet-info {
  background-image: url(../img/beton-graa.webp);
  height: fit-content;
  padding: 1rem 0 0 0;
}

#billet-info img {
  width: 40%;
  height: fit-content;
}

.title {
  font-weight: bold;
}

#billet-info p {
  margin: 1rem 3rem;
  color: var(--yellow);
}

#billet-content {
  display: flex;
  margin-top: 3rem;
}

#billet-content span {
  display: block;
  margin-top: 1.5rem;
}

#rec {
  background-color: var(--light-grey);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow: hidden;
}

#rec div {
  max-width: 75%;
  margin: 0;
}

#rec img {
  position: absolute;
  max-width: 100%;  /* Sørg for at billedet er responsive ved at give den en max-width med % */
  width: 40rem;
  top: 2%;
  left: 75%;
}

#rec p {
  margin: 1.5rem 0 0 0;
}

#rec h2 {
  margin: 0;
}

#rec section {
  padding-left: 2rem;
}

footer {
  background-image: url(../img/papir-bg-gul.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 16rem;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  height: 16rem;
}

footer p {
  font-weight: 500;
}

#some-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#some-link img {
  max-width: 3.5rem;
  margin: 1rem;
}

#live-arkiv {
  background-image: url(../img/papir-bg-hvid.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#live-arkiv aside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
}

#live-arkiv img {
  margin-top: 4%;
  height: 20rem;
  width: 100%;
  transition: transform 0.3s ease-in-out;   /* animation for senere hover effekt */
}

#live-arkiv img:hover {
  cursor: pointer;
  transform: scale(1.1);                    /* ved at hover skallere billedet 110% størrer*/
}

@media screen and (max-width: 1160px) {     /* mellem skærme (tablets) - max 1024px */
  header img {
    max-width: 25rem;
  }

  #om-os {
    height: 20rem;
    flex-direction: column;
    text-align: center;
  }

  #om-os img {
    display: none;
  }

  #om-os p {
    height: fit-content;
    font-size: 1.3rem;
  }

  h2 {
    font-size: 2rem;
    padding: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .slider {
    width: 100%;
  }

  #rec img {
    top: 49%;
    left: 65%;
    width: 35rem;
    z-index: -0;
  }

  #live-arkiv aside {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {  /* mindre skærme (mobile) - max 768px */
  body {
    width: fit-content;
  }

  #om-os {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #rec div {
    max-width: 100%;
    padding: 1rem;
  }

  #rec img {
    display: none;
  }

  #billet-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {  /* Extra lille skærme (mobile phones) - max 480px */
  body {
    font-size: 12px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  #om-os p {
    margin: 0;
    padding: 1rem;
  }

  #rec img {
    width: 100%;
    left: 0;
    margin: auto;
  }

  #billet-info img {
    display: none;
  }
}
